<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ISwenetDataProviderHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ssa-be-vm-fe-08p.ssa.esa.int/swenet/xfire-webservice/ISwenetDataProvider"
                binding="basicHttpBinding" bindingConfiguration="ISwenetDataProviderHttpBinding"
                contract="SweNet.ISwenetDataProviderPortType" name="ISwenetDataProviderHttpPort" />
        </client>
    </system.serviceModel>
</configuration>