<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DiscoveryProxy.Announce" value="http://localhost:88/discoproxy/discoproxy.svc/announce"/>
    <add key="Disco.Endpoint" value="net.pipe://localhost/services/infrastructure/disco/disco.svc"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/services/infrastructure/disco/disco.svc" binding="basicHttpBinding" contract="Pms.Framework.Interfaces.IDisco" name="epHttp"/>
    </client>
  </system.serviceModel>
</configuration>
